<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <form th:method="post" th:action="@{/admin/delete}">
            <h2>Artikel löschen</h2>
            <table class="table">
                <thead>
                <th>Model</th>
                <th>Preis</th>
                </thead>
                <tbody>
                <tr th:each="artikel : ${artikelListe}">
                    <td><input th:type="checkbox" th:text="${artikel.model}" th:value="${artikel.id}" th:name="id"></td>
                    <td th:text="${artikel.preis}"></td>
                </tr>
                </tbody>
            </table>
            <input class="btn btn-primary" th:type="submit" th:value="Löschen">
        </form>
    </div>
    <div class="row">
        <form th:method="post" th:action="@{/admin/deleteEquipment}">
            <h2>Equipment löschen</h2>
            <table class="table">
                <thead>
                <th>Name</th>
                <th>Preis</th>
                </thead>
                <tbody>
                <tr th:each="equipment : ${equipments}">
                    <td><input th:type="checkbox" th:text="${equipment.name}" th:value="${equipment.id}" th:name="id">
                    </td>
                    <td th:text="${equipment.preis}"></td>
                </tr>
                </tbody>
            </table>
            <input class="btn btn-primary" th:type="submit" th:value="Löschen">
        </form>
    </div>
    <div class="row">
        <form th:method="post" th:action="@{admin/create}" th:object="${artikel}">
            <h2>Artikel hinzufügen</h2>
            <p class="lead"><input class="form-control" type="text" th:name="model" th:value="*{model}">Model</p>
            <p class="lead"><input class="form-control" type="text" th:name="preis" th:value="*{preis}">Preis</p>
            <p class="lead"><input class="form-control" type="text" th:name="pfad" th:value="*{pfad}">Bildpfad</p>
            <input class="btn btn-primary" type="submit" value="Artikel hinzufügen">
        </form>
    </div>
    <div class="row">
        <form th:method="post" th:action="@{/admin/equipment}" th:object="${equipment}">
            <h2>Equipment hinzufügen</h2>
            <p class="lead"><input class="form-control" type="text" th:name="name" th:value="*{name}">Name</p>
            <p class="lead"><input class="form-control" type="text" th:name="preis" th:value="*{preis}">Preis</p>
            <p class="lead">Artikel</p>
            <select th:name="artikel" class="form-control">
                <option value="">-------</option>
                <option th:each="artikel : ${artikelListe}" th:text="${artikel.model}"
                        th:value="${artikel.id}"></option>
            </select>
            <br>
            <input class="btn btn-primary" type="submit" value="Equipment hinzufügen">
        </form>
    </div>
    <div class="row">
        <form th:method="get" th:action="@{/kunde/logout}">
            <input class="btn btn-primary" type="submit" value="Logout">
        </form>
        <form method="get" th:action="@{/admin}">
            <input type="submit" class="btn btn-primary" value="Cancel">
        </form>
    </div>
</div>
</body>
</html>