<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<h1>Wähle dein Zubehör</h1>
<div class="col-md-4">
    <form class="form-group" th:method="get" th:action="@{/shop/checked}">
        <table th:class="table" th:if="${artikel?.id}">
            <thead>
            <th><input th:type="text" th:text="${artikel?.model}" th:value="${artikel.id}" th:name="artikel" hidden></th>
            </thead>
            <tbody>
            <tr th:each="equipment : ${equipmentList}">
                <td>
                    <input th:type="checkbox" th:value="${equipment.id}" th:name="equipment">
                    <label th:type="text" th:text="${equipment.name}"></label>
                </td>
            </tr>
            </tbody>
        </table>

        <button>Hinzufügen</button>
    </form>
</div>
</body>
</html>