<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Registrieren</h1>
    <div class="col-md-6">
        <form method="post" th:action="@{/kunde/verify}" th:object="${kunde}">
            <p class="lead"><input class="form-control" type="text" th:field="*{vorname}">Vorname</p>
            <p class="lead"><input class="form-control" type="text" th:field="*{nachname}">Nachname</p>
            <p class="lead"><input class="form-control" type="text" th:field="*{strasse}">Strasse</p>
            <p class="lead"><input class="form-control" type="text" th:field="*{city.plz}">PLZ</p>
            <p class="lead"><input class="form-control" type="text" th:field="*{city.ort}">Stadt</p>
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>