<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HappyWriter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1>Wilkommen bei Happy Writer</h1>
<a th:href="@{'/warenkorb/' + ${artikel.get(0).id}}"> <img th:attr="src=@{Etui.JPG}, titel=${'titel'},alt=${'bild'}" th:height="250"/></a>
<a th:href="@{'/warenkorb/' + ${artikel.get(1).id}}"> <img th:attr="src=@{Holz.JPG}, titel=${'titel1'},alt=${'bild1'}" th:height="250"/></a>

</body>
</html>