<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/kunde">Neukunde</a></li>
            <li><a href="/kunde/all">Kunde</a></li>
            <li><a href="/admin">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1><img th:class="img-fluid"
             th:attr="src=@{cyclistLogo.PNG}, titel=${'titel'},alt=${'bild'}"
             th:height="100"/>Welcome to Shop du Cyclist</h1>
    <form th:action="@{/kunde/logout}" th:method="get">
        <button>Logout</button>
    </form>
</div>
</body>
</html>