<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HappyWriter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1>Wilkommen bei Happy Writer</h1>

<form th:each="inhalt:${inhalte}" class="form-group">
    <input type="checkbox" th:value="${inhalt.name}" class="checkbox"><label th:text="${inhalt.name}"></label>
</form>
<form th:method="post" th:action="@{/selected}">
    <button>Bestellen</button>
</form>
<label th:text="${artikel.bezeichnung}"></label>

</body>
</html>