<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HappyWriter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1>Wilkommen bei Happy Writer</h1>

<form class="form-group" th:method="post" th:action="@{/selected}">
    <input th:type="checkbox" th:each="inhalt : ${inhalte}" th:value="${inhalt.id}" th:name="inhalte" th:text="${inhalt.name}">
    <input th:text="${artikel.bezeichnung}" th:value="${artikel.id}" th:name="artikel" readonly>
    <button>Hinzufügen</button>
</form>
</body>
</html>