<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:method="get" th:action="@{/shop}">
        <h2>Wer bist du?</h2>
        <table th:class="table">
            <thead>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Strasse</th>
            <th>PLZ</th>
            <th>Ort</th>
            </thead>
            <tbody>
            <tr th:each="kunde : ${kunden}">
                <td><input th:type="radio" th:text="${kunde.vorname}" th:value="${kunde.id}" th:name="id"
                           th:object="${kunde}"></td>
                <td th:text="${kunde.nachname}" th:value="${kunde.nachname}"></td>
                <td th:text="${kunde.strasse}" th:value="${kunde.strasse}"></td>
                <td th:text="${kunde.city.plz}" th:value="${kunde.city.plz}"></td>
                <td th:text="${kunde.city.ort}" th:value="${kunde.city.ort}"></td>
            </tr>
            </tbody>
        </table>
        <button>Next</button>
    </form>
</div>
</body>
</html>