<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Shop du Cycliste</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" th:each="artikel : ${artikelListe}">
                <a th:href="@{'/warenkorb/?id=' + ${artikel.id}}"> <img class="img-fluid" th:src="${artikel.pfad}"
                                                                                    alt="bike"
                                                                                    height="250"/></a>
                    <div class="caption">
                        <p th:text="${artikel.model}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:class="container">
    <div th:class="col-md-3">
        <table th:each="positionen : ${bestellpositionen}" th:class="table">
            <thead>
            <tr>
                <th th:text="${positionen.artikel.model}"></th>
                <th>Preis</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equipment : ${positionen.equipmentSet}">
                <td th:text="${equipment.name}"></td>
                <td th:text="${equipment.preis}"></td>
            </tr>
            </tbody>
        </table>
        <label th:text="'Total: '+${total}"></label>
    </div>
</div>
<div th:class="container">
    <form th:method="get" th:action="@{/shop/danke}">
        <input th:type="submit" th:value="Bestellen" class="btn btn-primary">
    </form>
    <form>
        <input type="button" value="Cancel" onclick="history.back()" class="btn btn-primary">
    </form>
</div>
</body>
</html>