<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop du Cycliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/cyclistLogo.PNG">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-">
            <a class="navbar-brand" href="/">Shop du Cycliste</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
</nav>
<div th:class="container">
    <h1>Sind diese Angaben Korrekt?</h1>
    <div th:class="col-md-6">
        <form th:method="get" th:action="@{/shop}" th:object="${kunde}">
            <input th:name="id" th:value="*{id}" hidden>
            <p class="lead"><input class="form-control" type="text" th:value="*{vorname}">Vorname
            </p>
            <p class="lead"><input class="form-control" type="text" th:value="*{nachname}">Nachname
            </p>
            <p class="lead"><input class="form-control" type="text" th:value="*{strasse}">Strasse
            </p>
            <p class="lead"><input class="form-control" type="text" th:value="*{city.plz}">PLZ
            </p>
            <p class="lead"><input class="form-control" type="text" th:value="*{city.ort}">Stadt
            </p>
            <input th:type="submit" th:value="Ja">
        </form>
    </div>
    <div th:class="col-md-12">
        <form th:method="get" th:action="@{/kunde/delete/}">
            <button th:value="${kunde.id}" th:name="id" class="btn btn-primary">Nein</button>
        </form>
    </div>
</div>
</body>
</html>